@import "tailwindcss";

@plugin "daisyui";

:root {
  --fitlog-bg: #0b0d10;
  --fitlog-accent: #ccff00;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--fitlog-bg);
  color: white;
}